<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <table border="1">
    <tr>
        <td>Student ID</td>
        <td>Student Name</td>
        <td>Student Mark</td>
    </tr>
   <% studen.forEach(function(stu) { %>
      <tr>
        <td><%= stu.student_id %></td>
        <td><%= stu.student_name %></td>
        <td><%= stu.student_mark %></td>
      </tr>
    <%});%>
  </table >
</body>
</html>